@{
    var loggedIn = User.Identity.IsAuthenticated;
}
@if (loggedIn)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Identity" asp-action="SignOut">Sign Out</a>
    </li>
    <li class="nav-item">
        <label>Hello, @User.Identity.Name (@User.Claims.FirstOrDefault(c=>c.Type=="Department"))</label>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Identity" asp-action="SignUp">Sign Up</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Identity" asp-action="SignIn">Sign In</a>
    </li>
}
